<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<footer class="footer-part" th:fragment= "footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-4">
            <div class="footer-content">
              <a href="#"><img src="images/logo.png" alt="logo" /></a>
              <p style="font-family:Montserrat">
                Cửa hàng chuyên cung cấp thực phẩm và phụ kiện cho chó, mèo. Đảm bảo chất lượng đã qua kiểm duyệt.
              </p>
              <ul class="footer-icon">
                <li>
                  <a class="icon icon-inline" href="#"
                    ><i class="fab fa-facebook-f"></i
                  ></a>
                </li>
                <li>
                  <a class="icon icon-inline" href="#"
                    ><i class="fab fa-twitter"></i
                  ></a>
                </li>
                <li>
                  <a class="icon icon-inline" href="#"
                    ><i class="fab fa-linkedin-in"></i
                  ></a>
                </li>
                <li>
                  <a class="icon icon-inline" href="#"
                    ><i class="fab fa-instagram"></i
                  ></a>
                </li>
                <li>
                  <a class="icon icon-inline" href="#"
                    ><i class="fab fa-pinterest-p"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="footer-content">
              <h3 class="title">Liên kết</h3>
              <div class="footer-widget">
                <ul>
                  <li><a href="#" style="font-family:Montserrat">Tài khoản</a></li>
                  <li><a href="#" style="font-family:Montserrat">Lịch sử đơn hàng</a></li>
                  <li><a href="#" style="font-family:Montserrat">Sản phẩm yêu thích</a></li>
                  <li><a href="#" style="font-family:Montserrat">Sản phẩn bán chạy</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <div class="footer-content">
              <h3 class="title">Tải xuống ứng dụng</h3>
              <p style="font-family:Montserrat">
                Trải nghiệm hoàn toàn mới trên ứng dụng của chúng tôi.
              </p>
            </div>
            <ul class="download-app">
              <li>
                <a href="#"
                  ><img src="images/google-store.png" alt="google"
                /></a>
              </li>
              <li>
                <a href="#"><img src="images/app-store.png" alt="app" /></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
</body>
</html>