<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<footer class="footer-part" th:fragment= "footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-4">
            <div class="footer-content">
              <a href="#"><img src="images/logo.png" alt="logo" /></a>
              <p >
                Cửa hàng chuyên cung cấp thực phẩm và phụ kiện cho chó, mèo. Đảm bảo chất lượng đã qua kiểm duyệt.
              </p>
              <ul class="footer-icon">
                <li>
                  <a class="icon icon-inline" href="#"
                    ><i class="fab fa-facebook-f"></i
                  ></a>
                </li>
                <li>
                  <a class="icon icon-inline" href="#"
                    ><i class="fab fa-twitter"></i
                  ></a>
                </li>
                <li>
                  <a class="icon icon-inline" href="#"
                    ><i class="fab fa-linkedin-in"></i
                  ></a>
                </li>
                <li>
                  <a class="icon icon-inline" href="#"
                    ><i class="fab fa-instagram"></i
                  ></a>
                </li>
                <li>
                  <a class="icon icon-inline" href="#"
                    ><i class="fab fa-pinterest-p"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="footer-content">
              <h3 class="title">Liên kết</h3>
              <div class="footer-widget">
                <ul>
                  <li><a href="#" >Tài khoản</a></li>
                  <li><a href="#" >Lịch sử đơn hàng</a></li>
                  <li><a href="#" >Sản phẩm yêu thích</a></li>
                  <li><a href="#" >Sản phẩn bán chạy</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <div class="footer-content">
              <h3 class="title">Tải xuống ứng dụng</h3>
              <p >
                Trải nghiệm hoàn toàn mới trên ứng dụng của chúng tôi.
              </p>
            </div>
            <ul class="download-app">
              <li>
                <a href="#"
                  ><img src="images/google-store.png" alt="google"
                /></a>
              </li>
              <li>
                <a href="#"><img src="images/app-store.png" alt="app" /></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="container"></div>
      <div class="footer-bottom">
        <div class="container">
          <p>
            Copyright &copy; 2023. All rights reserved by -
            <a target="_blank" href="#"
              >Puppy Pets</a
            >
          </p>
          <ul class="pay-card">
            <li>
              <a href="#"><img src="images/pay-card/01.jpg" alt="payment-1" /></a>
            </li>
            <li>
              <a href="#"><img src="images/pay-card/02.jpg" alt="payment-2" /></a>
            </li>
            <li>
              <a href="#"><img src="images/pay-card/03.jpg" alt="payment-3" /></a>
            </li>
            <li>
              <a href="#"><img src="images/pay-card/04.jpg" alt="payment-4" /></a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
</body>
</html>